:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --container-width: 1300px;
  --container-width-sm: 1000px;
  --blog-post-width: 800px;
  --border-color: #c6c4e2;
  --min-padding: 0px 24px;
  font-size: clamp(1rem, 0.9143rem + 0.4571vw, 1.2rem);

  --br-sm: 4px;
  --br-md: 12px;

  --ease-middle: cubic-bezier(0.66, 0.34, 0.35, 0.74);

  --spacing-sm: max(24px, 1.4rem);
  --spacing-md: 32px;

  --bg: white;
  --bg-light: #fafafa;

  --shadow-sm: 0px 3px 6px 0px rgba(48, 57, 87, 0.2);
  --shadow: 0px 3px 8px 2px rgba(48, 57, 87, 0.2),
    0px 0px 1px 0px rgba(76, 77, 126, 0.33);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

header > * {
  margin: 0;
}

.p-0 {
  padding: 0 !important;
}

.container-center {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--min-padding);
}

.container-sm {
  max-width: var(--container-width-sm);
}

.container-blog {
  max-width: var(--blog-post-width);
}

*[class*="title"] {
  letter-spacing: 0.05rem;
}

.text-center {
  text-align: center;
}

.header-title {
  padding: 2rem 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

.time-title:first-child {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

*[class*="display"]:only-child {
  margin: 0px auto;
}

.display {
  font-size: 1.8rem;
  font-family: "Vollkorn", serif;
  font-weight: 200;
}

.display-sub:first-child {
  margin-bottom: 0.5rem;
}

.display-sub {
  font-size: 1.4rem;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

.display-title {
  font-size: 5rem;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.section-title {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0;
}

.navbar-container {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  z-index: 90;
  background-color: var(--bg);
  box-shadow: var(--shadow-sm);
}

.navbar-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  padding: 0;
  margin: 0 auto;
}

.navbar > ul {
  display: contents;
  list-style: none;
}

.navbar > ul li:first-child {
  border-left: 1px solid var(--border-color);
}
.navbar > ul li {
  border-right: 1px solid var(--border-color);
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar > ul li {
  flex: 1;
  text-align: center;
  padding: 16px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1rem;
}

.navbar-link.active {
  color: purple;
  font-weight: 400;
}

.social {
  width: 1em;
  display: inline-block;
  vertical-align: middle;
}

.social-icon {
  width: 100%;
  padding-top: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#featured {
}

a.post-card {
  display: block;
  text-decoration: none;
  color: inherit;
}

.post-card:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.post-card {
  /* border: 1px solid var(--border-color); */
  box-shadow: var(--shadow);
  border-radius: var(--br-md);
  overflow: clip;
}

.post-card .thumbnail {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-size: cover;
}

.thumbnail + .card-body {
  border-top: 1px solid var(--border-color);
}

.card-body {
  padding: var(--spacing-sm);
}

.card-body > *:first-child {
  margin-top: 0;
}

.card-body > *:last-child {
  margin-bottom: 0;
}

.card-title {
  font-size: 1.6rem;
  margin: 0.4rem 0;
  font-weight: 600;
}

img.blog {
  border-radius: var(--br-md);
  box-shadow: var(--shadow-sm);
}

section {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-md) 0;
}

.flex-grid {
  display: flex;
  gap: 42px;
}

.flex-grid > .column {
  flex-grow: 1;
  flex-shrink: 1;
}

#post-column {
  flex-basis: 65%;
}

#post-column + .column {
  flex-basis: 35%;
}

#thoughts {
  background-color: var(--bg-light);
}

.profile-image {
  border-radius: max(4px, calc(var(--br-md) - var(--spacing-md)));
  overflow: clip;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 1rem;
}

.nav-collapse {
  display: flex;
  justify-content: flex-end;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  padding: 0;
}

.btn > svg {
  display: inline-block;
}

.btn-burger {
  font-size: 2rem;
  padding: 0.4rem;
}

.nav-collapse > .btn-burger {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.card-body.caption {
  background-color: var(--bg-light);
}

.caption {
  color: gray;
}

@media screen and (max-width: 1000px) {
  .flex-grid {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  #about-me .content {
    display: flex;
    gap: 42px;
  }

  .profile-image {
    height: 100%;
    min-width: 0;
    min-height: 0;
    flex-basis: 35%;
    flex-shrink: 1;
    flex-grow: 0;
  }

  #about-me .content > * {
    flex: 1 1 65%;
  }
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.position-absolute {
  position: absolute;
}

#nav-collapse .btn-burger {
  margin: var(--spacing-md);
}

@media screen and (min-width: 801px) {
  .nav-collapse {
    display: none;
  }

  .btn-burger {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  header {
    background-color: var(--bg);
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar > ul li {
    border: none !important;
  }

  /* Nav Bar Animation */

  .navbar-container {
    overflow: hidden;
  }

  .collapse-content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: var(--bg);
    border-left: 1px solid var(--border-color);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;

    transform: translateX(100vw);
    transition: transform 600ms var(--ease-middle);
  }

  .collapse-content.collapsed {
    transform: translateX(0);
  }
}

/* blog post page */

.blog-post-container {
  display: flex;
  flex-wrap: wrap;
}

.blog-post-container > *:first-child {
  flex-basis: 100%;
}

.blog-post-container > * {
  flex: 0 1 50%;
}

@media screen and (max-width: 800px) {
  .blog-post-container > * {
    flex-basis: 100%;
  }
}
